*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 5%;
}

.flexible{
    display: flex;
}

.half{
    width: 50%;
    margin: 0 5%;
}

h1{
    font-size: 50px;
    margin-bottom: 5%;
}

#border-color{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(89, 34, 184), rgb(175, 120, 135));
    border-image-slice: 1;
}

.text-color{
    color: rgb(89, 34, 184);
}

p{
    margin-bottom: 5%;
}

a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(rgb(89, 34, 184), rgb(175, 120, 135));
    padding: 10px 35px;
    border-radius: 20px;
}

#scroll{
    margin-top: 5%;
}

img{
    width: 40%;
}

#heading{
    text-align: center;
}

h2{
    margin: 3% 0;
}

.one-third{
    width: 31%;
    margin: 0 1%;
    border-radius: 20px;
}

#one{
    background: rgb(186, 166, 221);
}

#two{
    background: rgb(233, 171, 188);
}

#three{
    background: rgb(233, 171, 230); 
}