/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,200&display=swap");

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #2b2b2b;
  font-size: 10px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}

p {
  color: #e1e1e1;
  font-size: 0.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: auto 10%;
}

.flex {
  display: flex;
}

.btn {
  background-color: #e55473;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.color{
    color: #f4c0cb;
}

/* header */
#head {
  background-color: #f4c0cb;
  padding-top: 2rem;
}

#h-text {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 3rem;
}

#h-text * {
  margin-bottom: 1rem;
}

#h-text h1 {
  color: #000;
}

#h-text p {
  color: #2b2b2b;
}

#h-image img {
  height: 95vh;
}

/* featured flowers */
#featured {
  text-align: center;
  margin-top: 5rem;
}

#featured * {
  margin-bottom: 1rem;
}

#f-flowers section {
  margin-top: 2rem;
}

#f-flowers section div {
  height: 28rem;
  width: 20rem;
  background-color: #5b5b5b;
  margin: 1rem;
  border-radius: 20px;
}

#f-flowers section div img {
  height: 25rem;
  width: 15rem;
}

#f-flowers section p {
  font-size: 1.2rem;
  text-decoration: underline;
}

/* reasons to buy flower */
#reasons {
    margin-top: 5rem;
  text-align: center;
}  

#reasons ul{
    background-color: #5b5b5b;
    border-radius: 20px;
    margin-top: 2rem;
}

#reasons ul li {
  list-style-type: none;
  line-height: 2.5rem;
  font-size: 1.2rem;
}

/* hot deals */
#deal{
    background-color: #f4c0cb;
    padding-top: 2rem; 
    margin-top: 5rem;
}

#d-text {
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    text-align: center;
  }
  
  #d-text * {
    margin-bottom: 1rem;
  }
  
  #d-text h2 {
    color: #000;
  }
  
  #d-text p {
    color: #2b2b2b;
  }

  #d-text .off{
    color: #e55473;
  }
  
  #d-image img {
    height: 30rem;
  }

  /* social section */
  #social{
    margin-top: 5rem;
    text-align: center;
  }

  #social p{
    margin-top: 1rem;
  }

  #social-image img{
    margin: 2%;
    width: 20%;
  }

  /* subscription section */
  #subscription{
    padding: 8rem;
    margin-top: 5rem;
    background-image: url(assets/rect.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
    text-align: center;
  }

#subscription p{
    color: #2b2b2b;
}

  #subscription *{
    margin-top: 1rem;
  }

#email{
    font-size: 1.1rem;
    line-height: 2rem;
    border: none;
    outline: none;
    width: 55%;
}

  #subscription form *{
    margin: 0.5rem;
  }

 